*{
    box-sizing: border-box;
}
.navbar{
     background: url(monsoon.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.bg{
     background: url(monsoon.jpg);
     min-height: 50vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;   
}
.mo{
    margin-left: 27%;
}
/*.btn{
    width: 20%;
    float: right;
}
.mi{
    width: 20%;
    float: left;
}*/
.bg1{
    background: url(monsoon.jpg);
    min-height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.blockquote{
    font-weight: 900;
    color: black;
}
.row{
   width: 100%;
}
.col{
    width: 30%;
}
.mg{
    background: url(https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.mg img{
   max-width: 150px;
   
}
.cg{
    background: url(https://media.istockphoto.com/photos/picturesque-morning-in-plitvice-national-park-colorful-spring-scene-picture-id1093110112?k=20&m=1093110112&s=612x612&w=0&h=3OhKOpvzOSJgwThQmGhshfOnZTvMExZX2R91jNNStBY=);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.cg img{
    max-width: 150px;  
 }
.pg{
    background: url(https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.pg img{
    max-width: 150px;  
 }
.f1{
    background-color: black;
}
.f2{
    background-color: goldenrod;
}
.hm{
    font-weight: 900;
    font-size: 2rem;
    color: black;
}
.pa{
    background-color: black;
}
.ev{
    background-image: url(name.jpg);
    min-height: 30vh;
    justify-content: space-around;
    
}